---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">

  <!-- Strony główne -->
  <url>
    <loc>{{ global.base_url }}/</loc>
    <changefreq>weekly</changefreq>
    <priority>1.0</priority>
  </url>
  <url>
    <loc>{{ global.base_url }}/o-nas/</loc>
    <changefreq>monthly</changefreq>
    <priority>0.8</priority>
  </url>
  <url>
    <loc>{{ global.base_url }}/realizacje/</loc>
    <changefreq>weekly</changefreq>
    <priority>0.9</priority>
  </url>
  <url>
    <loc>{{ global.base_url }}/kontakt/</loc>
    <changefreq>monthly</changefreq>
    <priority>0.7</priority>
  </url>

  <!-- Realizacje -->
  {% for projekt in collections.projekty %}
  <url>
    <loc>{{ global.base_url }}{{ projekt.url }}</loc>
    <changefreq>yearly</changefreq>
    <priority>0.8</priority>
  </url>
  {% endfor %}

  <!-- Wpisy blogowe (opublikowane) -->
  {% for post in collections.blog %}
  <url>
    <loc>{{ global.base_url }}{{ post.url }}</loc>
    <lastmod>{{ post.data.data | dateISO }}</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.6</priority>
  </url>
  {% endfor %}

</urlset>
